.profile {
    width: 50px;
    height: 35px;
    cursor: pointer;
}

.nav-item-prof :hover {
}

.nav-item-requests :hover {
    font-weight: bold;
}
.nav-item-other :hover {
    font-weight: bold;
}

.nav-item-requests {
    margin-right: 20px;
    width: 100px;
}

.profile-dropdown {
    width: 20px;
    margin-left: -10px;
    margin-right: 10px;
}

.profile-logout {
    width: 20px;
    margin-left: -10px;
    margin-right: 10px;
}

.big-box {
    opacity: 80%;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    width: 80%;
    margin: auto;
    height: 800px;
    
}

.container-fluid {
    width: 90%;
}

.navbar {
    
    box-shadow: 1px 1px 5px;
}

.page-title {
    
    height: 110px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #e0b72f;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}

.title {
    font-size: xx-large;
    font: bold;
}

.credentials {
    text-align: left;

}

.reason {
    font-size: x-large;
    width: 90%;
    text-align: left;
    margin: auto;
    font-weight: bold;
}

.reason-box {
    margin: auto;
    margin-top: 30px;
    font-weight: bold;
}

.reason-input {
}

.button1 {
    height: 25px;
    margin-left: 10px;
}


.sub-button {
    
    text-align: center;
    margin-top: 20px;
}

.sub-button :hover{
    font-weight: bold;
    border-radius: 10px;
    background: none;
    
}

.submit {
    background: #3fbb78;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

.department {
    width: 90%;
    margin: auto;
    display: flex;
    text-align: left;
}   

.department-one {
    flex: 1;
}

.slipnum {
    flex: 1;

}

.date {
    flex: 1;
    text-align: right;
}

.col2 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.time1 {
    text-align: left;
    flex: 1;
}

.time2 {
    text-align: left;
    flex: 1;
}

.paper-type {
    flex: 1;
    text-align: left;
}

.num-copies {
    flex: 1;
    text-align: right;
}

.input-num {
    width: 100px;
}

.col3 {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 25px;
}



@media (max-width:457px) {
    
  }